<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="admin" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="password"required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
<script>
    // check username and password not empty
    document.querySelector('forma').addEventListener('onFocus', function(e){
        if(e.target.value === ''){
            alert('Please fill in the username and password');
        }
    }, true);
</script>
</html>
