
{% extends "base.html" %}

{% block content %}

<div class="container my-2">
    <div class="row-12 d-flex align-items-center h-100 justify-content-center flex-column">
        <h1>Buyer create review</h1>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" class='needs-validation' id="createReview" novalidate>
                        <div>
                            <label for="rea-email" class="form-label">Email: </label><br>
                            <input type="email" class="form-control" id="email" name="rea-email" size="50" required>
                        </div>
                        
                        <!-- Ratings -->
                        <div>
                            <label for="rating" class="form-label">Rating: </label><br>
                            <div class="star-rating">
                                <input id="star5" type="radio" name="rating" value="5"><label for="star5">★</label>
                                <input id="star4" type="radio" name="rating" value="4"><label for="star4">★</label>
                                <input id="star3" type="radio" name="rating" value="3"><label for="star3">★</label>
                                <input id="star2" type="radio" name="rating" value="2"><label for="star2">★</label>
                                <input id="star1" type="radio" name="rating" value="1"><label for="star1">★</label>
                            </div>
                        </div>
                        <br><br>

                        <!-- Review -->
                        <div>
                            <label for="review" class="form-label">Review:</label><br>
                            <input type="text"  class="form-control" id="review" name="review" size="50" required>
                            <div class="invalid-feedback">
                                Please write something.
                            </div>
                        </div>
                        <br>

                        <!-- Submit Button -->
                        <div>
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                    </form>
                    {% if error %}
                    <p style="color: red;">{{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="button-container" style="text-align: center; margin-bottom: 20px;">
        <button onclick="back()">Back to Dashboard</button>
    </div>

</div>

<script>

(function () {
    'use strict'

    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)

      document.getElementById('review').addEventListener('input', function() {
        var review = this.value;
        if (review.length > 0) {
            this.setCustomValidity('');
        } else {
            this.setCustomValidity('Please write something.');
        }
      });


    });
})();
function back() {
    window.location.href = '/dashboard'; // Redirect to view_properties.html
}
</script>
{% endblock %}
