{% extends 'base.html' %}

{% block title %} View Reviews {% endblock %}

{% block body %} 
<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh; /* Full viewport height */
    }

</style>

<div class="center-container">
    <button style="background-color: #eee; border-radius: 8px; border: 0; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 500; line-height: 20px; margin: 0; padding: 10px 12px; text-align: center;" onclick="back()">Back to Dashboard</button></div>
<div>
    <div class="text-center">
        <h1>View Reviews</h1>
    </div>
</div>
{% for review in reviews %}
<div>
    <!-- View Reviews -->
    <div class="'container my-2">
        <div class="row-12 d-flex align-items-center h-100 justify-content-center flex-column">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <label for="role" class="form-label">Review ID: {{review.review_id}}</label>
                            <label for="role" class="form-label">Rating:
                                {% for i in range(review.rating) %}
                                <span class="fa fa-star checked">★</span>
                                {% endfor %}
                                {% for i in range(5 - review.rating) %}
                                    <span class="fa fa-star"></span>
                                {% endfor %}
                            </label><br>
                            <label for="role" class="form-label">Review: {{review.review}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="center-container">

<div>
    <button style="background-color: #eee; border-radius: 8px; border: 0; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 500; line-height: 20px; margin: 0; padding: 10px 12px; text-align: center;" onclick="back()">Back to Dashboard</button></div>
</div>
    <br>
<script>
    function back() {
        window.location.href = '/dashboard'; // Redirect to view_properties.html
    } 
    
    </script>
{% endblock %}