{% extends 'base.html' %}

{% block title %} Account Management {% endblock %}

{% block body %} 
<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card m-3">
                <div class="card-body bg-success">
                    <h3>Create New User Account</h3>
                    <a href="/admin/signup" class="nav-link text-white">Create</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card m-3">
                <div class="card-body bg-info">
                    <h3>View All Users</h3>
                    <a href="/admin/all-user" class="nav-link text-white">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}