<div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/index" class="btn btn-info w-full">Main Page</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/signup" class="btn btn-info w-full">Create New User</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/all-user" class="btn btn-info w-full">All Users</a>
    </div>
</div>