{% extends 'base.html' %}

{% block title %} Create New Buyer {% endblock %}

{% block body %} 

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>

<div class="'container my-2">
    <div class="row-12 d-flex align-items-center h-100 justify-content-center flex-column">
        <h1>Create New Buyer Account</h1>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="/register" method="post">
                        <label for="fname"><b>Enter First Name:</b></label><br>
                        <input type="text" id="fname" name="fname" class="form-control"><br>
                        <label for="lname"><b>Enter Last Name:</b></label><br>
                        <input type="text" id="lname" name="lname" class="form-control"><br>
                        <label for="ID"><b>Enter ID:</b></label><br>
                        <input type="number" id="id" name="id" class="form-control"><br>
                        <label for="username"><b>Enter Username:</b></label><br>
                        <input type="text" id="username" name="username" class="form-control"><br>
                        <label for="phonenum"><b>Enter Phone Number:</b></label><br>
                        <input type="text" id="phonenum" name="phonenum" class="form-control"><br>
                        <label for="email"><b>Enter Email:</b></label><br>
                        <input type="text" id="email" name="email" class="form-control"><br>
                        <label for="pw"><b>Enter Password:</b></label><br>
                        <input type="password" id="pw" name="pw" class="form-control"><br>
                        <input type="submit" value="Submit" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

