{% extends "base.html" %}

{% block content %}
<div class="'container my-2">
    <div class="row-12 d-flex align-items-center h-100 justify-content-center flex-column">
        <h1>Create New User Account</h1>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <p> 
                            {{ form.profile_role.label }} <br>
                            {{ form.profile_role(class='form-select') }} 
                            {% if form.profile_role.errors %}
                                <span style="color: red;">{{ form.profile_role.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.fname.label }} <br>
                            {{ form.fname(size=50)}} <br>
                            {% if form.fname.errors %}
                                <span style="color: red;"> {{ form.fname.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.lname.label }} <br>
                            {{ form.lname(size=50)}} <br>
                            {% if form.lname.errors %}
                                <span style="color: red;"> {{ form.lname.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.email.label }} <br>
                            {{ form.email(size=50)}} <br>
                            {% if form.email.errors %}
                                <span style="color: red;"> {{ form.email.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.phonenum.label }} <br>
                            {{ form.phonenum(size=50)}} <br>
                            {% if form.phonenum.errors %}
                                <span style="color: red;"> {{ form.phonenum.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.username.label }} <br>
                            {{ form.username(size=50)}} <br>
                            {% if form.username.errors %}
                                <span style="color: red;"> {{ form.username.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.password.label }} <br>
                            {{ form.password(size=50)}} <br>
                            {% if form.password.errors %}
                                <span style="color: red;"> {{ form.password.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ form.password2.label }} <br>
                            {{ form.password2(size=50)}} <br>
                            {% if form.password2.errors %}
                                <span style="color: red;"> {{ form.password2.errors[0] }}</span>
                            {% endif %}
                        </p>
                        <p> {{ form.submit(class_='btn btn-outline-success') }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}