{% extends 'base.html' %}

{% block title %} View All Profile {% endblock %}

{% block body %} 
<div class="container">
    <div class="my-2">
        <h1 style="text-align: center;"> Accounts List </h1> <br>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <form action="/searchAccount" method="POST">
                    <input type="text" id="query" name="query" placeholder="Search...">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
            <div>
                <button class="btn btn-light" style="margin-right: auto;" onclick="back()">Back to Dashboard</button>
            </div>
        </div><br>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Username</th>
                        <th>Profile Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for result in results %}
                    <tr>
                        <td>{{result.user_id}}</td>
                        <td>{{result.fname}}</td>
                        <td>{{result.lname}}</td>
                        <td>{{result.email}}</td>
                        <td>{{result.phonenum}}</td>
                        <td>{{result.username}}</td>
                        <td>{{result.userprofile.roles}}</td>
                        <td><a class="btn btn-link" href="/edit/{{ result.username }}"> Update </a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function back() {
            window.location.href = '/dashboard'; // Redirect to view_properties.html
        }
    </script>

{% endblock %}