{% extends 'base.html' %}

{% block title %} Account Management {% endblock %}

{% block body %} 
<div class="container my-5">
    <div class="row-12 d-flex align-items-center h-100 justify-content-center flex-column">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <h3>Manage User Accounts</h3>
                    <a href="/adminIndex" class="nav-link text-white">Manage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
